<div class="d-flex justify-content-center flex-column m-5 align-items-center">
  <div>
    <h1 class="display-5 text-primary text-center">SIMPLE CRUD APPLICATION</h1>
    <h4 class="lead text-center">USING DJANGO'S TEMPLATE, DJANGO AND MYSQL</h4>
    <div class="pt-2">
      <h5>CONTRIBUTORS:</h5>
      <p>DEVELOPER: TRISTAN VIC T. CLARITO</p>
      <p>SUB-DEVELOPER: GOLDWYN GOMEZ</p>
      <p>TESTER: JULES CHRISTIAN TUMANON</p>
      <p>ANALYST: OSHIE MIKOMI SATO</p>
    </div>
    <div>
      <a href="/users">GET STARTED</a>
    </div>
  </div>
</div>
